<app-header></app-header>
<h3>WELCOME, {{currUser}}</h3>

<div>
    <!-- <button type="button" class="btn btn-warning" (click)="getUsers()"> View All Users</button> &nbsp; -->
    <button type="button" class="btn btn-success" routerLink="/add-user-asAdmin"> Add user/admin</button>

    <button type="button" class="btn btn-danger" style="position: absolute; right: 0;" (click)="logout()" routerLink="/">Logout</button>

</div>


<!-- <div *ngIf="datatooggle"> -->
<div>
    <h2>User List</h2>
<table class="table table-striped">

    <thead>
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let use of users">
            <td>{{use.userName}}</td>
            <td>{{use.firstName}}</td>
            <td>{{use.lastName}}</td>
            <td>{{use.email}}</td>
            <td>{{use.role}}</td>
        
            <td>
                <button  class="btn btn-info" (click)="processUpdate(use.userName)">Update</button>
                <button (click)="deleteByIdUser(use.userName)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
    
    </tbody>
</table>
    